body,
html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

.array-container {
    height: 91vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.array-bar {
    width: 4px;
    background-color: blue;
    margin: 0 1px;
    border-radius: 1px;
}

.tool-bar {
    display: flex;
    height: 9vh;
    background-color: darkblue;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.button {
    margin-right: 6px;
    margin-left: 6px;
    padding: 1%;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #0083c9 5%, #005a9a 100%);
    background-color: #0083c9;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to bottom, #009cf0 5%, #005a9a 100%);
    background-color: #009cf0;
}

.button:active {
    position: relative;
    top: 1px;
}

.button.disabled,
.speed-slider.disabled {
    pointer-events: none;
    opacity: 0.6;
}


.tool-bar #title {
    font-family: sans-serif;
    color: white;
    margin-left: 10px;
    font-weight: 10;
    font-size: 16px;
}

.speed-value {
    font-family: sans-serif;
    color: white;
    display: inline;
    font-weight: bold;
    margin-right: 10px;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-right: 6px;
}

.slider-label {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
}