body,
html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.array-container {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.array-bar {
  width: 4px;
  background-color: blue;
  margin: 0 1px;
  border-radius: 2px 2px 0px 0px;
  transition: height 0.2s ease;
}

.tool-bar {
  display: flex;
  height: 9vh;
  background-color: darkblue;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 2%;
}

.button {
  margin-right: 6px;
  margin-left: 6px;
  padding: 1%;
  box-shadow: 0px 10px 14px -7px #00161a62;
  background-color: #0047e1;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.11);
  border-width: 2px;
  color: white;
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
}

.button:hover {
  background-color: #145fff;
}

.button:active {
  position: relative;
  top: 1px;
}

.button.disabled,
.speed-slider.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.tool-bar #title {
  font-family: sans-serif;
  color: white;
  margin-left: 10px;
  font-weight: 10;
  font-size: 16px;
}

.speed-value {
  font-family: sans-serif;
  color: white;
  display: inline;
  font-weight: bold;
  margin-right: 10px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-right: 6px;
  align-items: center;
}

.slider-label {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
